.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #ffd000;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: rgb(50, 50, 50);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Button {
    background-color: #ffd000;
    border-color: #000000;
    color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Image {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
.Rectangle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    height: 20px;
    width: 70px;
    font-size: 4px;
    color: white;
    text-align: center;
}
*/

.Text-header {
    text-align: center;
}
